.indexPage {
  text-align: center;
  .header {
    background-color: beige;
    color: darkslategray;
    padding: 20px;
    font-size: 42px;
  }
  .info {
    background-color: red;
    color: white;
    margin-top: 30px;
    padding: 10px;
  }
}
